html, body{
  margin: 10px;
  background-color: #F2F2F2;
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-family: helvetica;
}

text {
  font: 10px helvetica, sans-serif;
  pointer-events: none;
}

.number {
  font: 32px helvetica, sans-serif;
  fill: grey;
}

circle {
  opacity: .6;
  stroke: grey;
  stroke-width: 2px;
}

circle:hover {
  opacity: .3;
}