html, body {
  margin-right: 10px;
  color: white;
  background-color: #626369;
  font-size: 1em;
  font-family: helvetica;
}

@media (max-width: 768px) {
  html, body {
    margin-right: 20px;
  }
}

p {
  margin: 0px;
}

svg {
  border: 1px solid white;
  border-radius: 6px;
}

.chart {
  padding: 15px;
}

text {
  font: 10px helvetica, sans-serif;
  pointer-events: none;
  fill: #fff;
}

#loading {
  font: 22px helvetica, sans-serif;
  fill: grey;
}

.number {
  font: 32px helvetica, sans-serif;
  fill: #fff;
  opacity: .8;
}

circle {
  opacity: .5;
  stroke: #fff;
  stroke-width: 2px;
}

circle:hover {
  opacity: .3;
}